<%- include('../partials/head') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
</head>
<body>

<form action="/listings" method="POST" class="container mt-4" style="max-width: 600px;">
  <h2 class="mb-4">Add a New Pet</h2>

    <div class="mb-3">
    <label for="ownersName" class="form-label">Owners Name:</label>
  </div>

    <div class="mb-3">
    <label for="price" class="form-label">Phone Number:</label>
    <input type="number" name="Phone-Number" id="Phone-Number" class="form-control" min="0"  />
  </div>

  <div class="mb-3">
    <label for="petName" class="form-label">Pets Name:</label>
    <input type="petName" name="petName" id="petName" class="form-control" required />
  </div>


  <div class="mb-3">
    <label for="Age" class="form-label"> Pets Age:</label>
    <input type="number" name="Age" id="Age" class="form-control" min="0"  />
  </div>

 <div class="mb-3">
    <label for="Weight" class="form-label"> Pets Weight:</label>
    <input type="number" name="Weight" id="Weight" class="form-control" min="0" required />
  </div>

    <div class="mb-3">
    <label for="description" class="form-label">Owners instructions of care:</label>
    <textarea name="instructions" id="instructions" class="form-control" rows="1" ></textarea>
  </div>

    <div class="mb-3">
    <label for="MEDORA" class="form-label">Alergies and Medications:</label>
    <input type="MEDORA" name="MEDORA" id="MEDORA" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input type="text" name="image" id="image" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Create Listing</button>
</form>
</body>
</html>